accelerate
certifi
chainmap
charset-normalizer
coloredlogs
combomethod
decorator
decord
diffusers
dlib
dominate
filelock
flatbuffers
fsspec
future
huggingface-hub
humanfriendly
idna
imageio
imageio-ffmpeg
importlib_metadata
insightface
Jinja2
kornia
kornia_rs
lazy_loader
MarkupSafe
ml_dtypes
moviepy
mpmath
networkx
ninja
nulltype
numpy
nvdiffrast @ file:///home/dhoulety/projects/def-srl/VividFace/Deep3DFaceRecon/nvdiffrast
onnx
onnxruntime
opencv-python
options
packaging
pandas
pillow
proglog
protobuf
psutil
pytz
PyWavelets
PyYAML
regex
requests
safetensors
scikit-image
scipy
six
sympy
tifffile
tokenizers
tqdm
transformers
trimesh
triton
typing_extensions
tzdata
urllib3
zipp
